In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
file='E:\Education\Programming\Traning Vedio\Class_05\\agora.csv'
df = pd.read_csv(file)
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [6]:
df.shape

(50, 5)

In [7]:
x = df.drop(['Profit','Area'],axis=1)
y = df['Profit']

In [8]:
x.head(),y.head()

(   Marketing Spend  Administration  Transport
 0        114523.61       136897.80  471784.10
 1        162597.70       151377.59  443898.53
 2        153441.51       101145.55  407934.54
 3        144372.41       118671.85  383199.62
 4        142107.34        91391.77  366168.42,
 0    192261.83
 1    191792.06
 2    191050.39
 3    182901.99
 4    166187.94
 Name: Profit, dtype: float64)

# MinMax Scaler

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
scaler = MinMaxScaler()

In [11]:
trans = scaler.fit_transform(x)

In [12]:
x.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [13]:
X = pd.DataFrame(trans, columns =['Marketing Spend','Administration','Transport'])

In [14]:
moutput = X.head()

In [15]:
print('The MinMaxScaler output: \n', moutput)

The MinMaxScaler output:
    Marketing Spend  Administration  Transport
0         0.692617        0.651744   1.000000
1         0.983359        0.761972   0.940893
2         0.927985        0.379579   0.864664
3         0.873136        0.512998   0.812235
4         0.859438        0.305328   0.776136

# Standard Scaler

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
x.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [18]:
sscaler = StandardScaler()

In [19]:
strans = sscaler.fit_transform(x)

In [20]:
sX = pd.DataFrame(strans, columns =['Marketing Spend','Administration','Transport'])

In [21]:
soutput = sX.head()

In [22]:
print('The StandearedScaler output: \n', soutput)

The StandearedScaler output:
    Marketing Spend  Administration  Transport
0         0.897913        0.560753   2.165287
1         1.955860        1.082807   1.929843
2         1.754364       -0.728257   1.626191
3         1.554784       -0.096365   1.417348
4         1.504937       -1.079919   1.273550

# Robust Scaler

In [23]:
from sklearn.preprocessing import RobustScaler

In [24]:
x.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [25]:
rscaler = RobustScaler()

In [26]:
rtrans = rscaler.fit_transform(x)

In [27]:
rX = pd.DataFrame(strans, columns =['Marketing Spend','Administration','Transport'])

In [28]:
routput = rX.head()

In [29]:
print('The Robust Scaler output:\n', routput)

The Robust Scaler output:
    Marketing Spend  Administration  Transport
0         0.897913        0.560753   2.165287
1         1.955860        1.082807   1.929843
2         1.754364       -0.728257   1.626191
3         1.554784       -0.096365   1.417348
4         1.504937       -1.079919   1.273550

# MaxAbsScaler

In [30]:
from sklearn.preprocessing import MaxAbsScaler

In [31]:
ascaler = MaxAbsScaler()

In [33]:
atrans = ascaler.fit_transform(x)

In [35]:
aX = pd.DataFrame(atrans, columns = ['Marketing Spend','Administration','Transport'])

In [38]:
aoutput = aX.head()

In [40]:
print('The MaxAbsScaler output:\n',aoutput)

The MaxAbsScaler output:
    Marketing Spend  Administration  Transport
0         0.692617        0.749527   1.000000
1         0.983359        0.828805   0.940893
2         0.927985        0.553781   0.864664
3         0.873136        0.649738   0.812235
4         0.859438        0.500378   0.776136

# Summary Table

In [55]:
#All summary of feature transformation Scaler
print('The MinMaxScaler Output:\n\n', moutput)
print('\n...................................................')
print('\nThe StandaredScaler Output:\n\n', soutput)
print('\n...................................................')
print('\nThe Robust Scaler Output:\n\n', routput)
print('\n...................................................')
print('\nThe MaxAbsScaler Output:\n\n', aoutput)

The MinMaxScaler Output:

    Marketing Spend  Administration  Transport
0         0.692617        0.651744   1.000000
1         0.983359        0.761972   0.940893
2         0.927985        0.379579   0.864664
3         0.873136        0.512998   0.812235
4         0.859438        0.305328   0.776136

...................................................

The StandaredScaler Output:

    Marketing Spend  Administration  Transport
0         0.897913        0.560753   2.165287
1         1.955860        1.082807   1.929843
2         1.754364       -0.728257   1.626191
3         1.554784       -0.096365   1.417348
4         1.504937       -1.079919   1.273550

...................................................

The Robust Scaler Output:

    Marketing Spend  Administration  Transport
0         0.897913        0.560753   2.165287
1         1.955860        1.082807   1.929843
2         1.754364       -0.728257   1.626191
3         1.554784       -0.096365   1.417348
4         1.504937       -1.079919   1.273550

...................................................

The MaxAbsScaler Output:

    Marketing Spend  Administration  Transport
0         0.692617        0.749527   1.000000
1         0.983359        0.828805   0.940893
2         0.927985        0.553781   0.864664
3         0.873136        0.649738   0.812235
4         0.859438        0.500378   0.776136